PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=d150a942
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN-SECRET=mS3J&amRGh547T&V*S
REFRESH_TOKEN_EXPIRY=10d
MONGODB_URI=mongodb+srv://gyandeeparyandev:mavqgu08Fz@cluster0.qgmwc7q.mongodb.net